* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f7f9fd;
}

.wrapper {
  width: 90%;
  font-size: 16px;
  margin: 1em auto;
}

.container {
  width: 100%;
}

.sub-container {
  width: 100%;
  display: grid;
  gap: 1.5em;
  max-height: 400px;
  overflow-y: auto;
  grid-template-columns: 2fr 1fr;
}

.flex {
  display: flex;
  align-items: center;
}

.wrapper h3 {
  color: #363d55;
  font-weight: 500;
  margin-bottom: 0.6em;
}

.container input {
  display: block;
  width: 100%;
  padding: 0.6em 0.3em;
  border: 1px solid #d0d0d0;
  border-radius: 0.3em;
  color: #414a67;
  outline: none;
  font-weight: 400;
  margin-bottom: 0.6em;
}

.container input:focus {
  border-color: #587ef4;
}

.chart-container,
.user-amount-container {
  background-color: #ffffff;
  padding: 0.8em;
  border-radius: 0.3em;
  box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
}

.output-container {
  background-color: #587ef4;
  color: #ffffff;
  border-radius: 0.3em;
  box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
  margin: 2em 0;
  padding: 1.2em;
}

.output-item {
  display: flex;
  justify-content: space-between; /* or use gap if you prefer */
  align-items: center;
}

.output-item p {
  margin: 0;
  font-weight: 500;
  margin-right: 1em; /* optional spacing between p and span */
}

.output-item span {
  font-weight: 400;
  color: #e5e5e5;
}

.btn-style {
  display: flex;
  justify-content: flex-start; /* or use gap if you prefer */
  align-items: center;
  margin-top: 0.8em;
  gap: 1em;
}

.submit {
  font-size: 1em;
  background-color: #587ef4;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 0.6em 1.2em;
  border-radius: 0.3em;
  cursor: pointer;
}

.cancel {
  font-size: 1em;
  background: transparent;
  border: 1px solid rgb(244, 10, 10);
  color: rgb(244, 10, 10);
  padding: 0.6em 1.2em;
  border-radius: 0.3em;
  cursor: pointer;
}

.list {
  background-color: #ffffff;
  padding: 1.8em 1.2em;
  box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
  border-radius: 0.6em;
}

.sublist-content {
  width: 100%;
  border-left: 0.3em solid #587ef4;
  margin-bottom: 0.6em;
  padding: 0.5em 1em;
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr 1fr 1fr;
}

.product {
  font-weight: 500;
  color: #363d55;
}

.amount {
  color: #414a67;
  margin-left: 20%;
}

.icons-container {
  width: 5em;
  margin: 1.2em;
  align-items: center;
}

.product-title {
  margin-bottom: 1em;
}

.hide {
  display: none;
}

.error {
  color: #ff465a;
}

.edit {
  margin-left: auto;
}

.edit,
.delete {
  background: transparent;
  cursor: pointer;
  margin-right: 1.5em;
  border: none;
  color: #587ef4;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 0.5em; /* space between label and select */
  margin: 1em 0;
}

.form-row label {
  white-space: nowrap;
  font-weight: 500;
}
.form-row select {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .wrapper {
    font-size: 14px;
  }
  .sub-container {
    grid-template-columns: 1fr;
    gap: 1em;
  }
}
.chart-container canvas {
  max-height: 250px;
}
